---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import { getProductByHandle } from "../../utils/Shopify";
import Reviews from "../../components/Reviews.astro";
import type { Product } from "../../types/Shopify";

const { handle } = Astro.params;
const response = await getProductByHandle(handle);
const product: Product = response.product;

if (!product) {
  Astro.response.status = 404;
}
---

<Layout title="Astro Store">
  <div class="max-w-4xl m-auto mt-4 grid grid-cols-1 md:grid-cols-2">
    <div class="">
      <img
        src={product.featuredImage.transformedSrc}
        width="300px"
        alt=""
        srcset=""
      />
    </div>
    <div>
      <h1 class="font-bold">Title: {product.title}</h1>
      <Reviews />
      <br />
      <p>{product.description}</p>
      <br />
      <vars>
        <h1>Variants:</h1>
        <ul>
          {
            product.variants.nodes.map((item) => (
              <li>
                {item.title} - {item.id}
              </li>
            ))
          }
        </ul>
      </vars>
    </div>
  </div>
</Layout>
